@model IEnumerable<Datalayer.Page>

@foreach (var item in Model)
{
    <a href="/News/@item.GroupID/@item.PageID" class="prev-article">
        مقاله قبلی
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
        <h3 class="title-medium-dark pr-50">@item.ShortDescription</h3>
}